
@import url("https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    background-image: url(../photo/re.jpg);
  }
.add_employee,.add_item {
    padding: 0 30px;
    width: 50vh;
    border: 2px solid #af101060;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
#add_employee,.add_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.add_employee h2,
.add_item h2{
    text-align: center;
    font-size: 2.5rem;
    font-family: cursive;
}
.inputBox {
    position: relative;
    margin: 1.5rem 0;
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 3px solid #3e2828;
    outline: none;
    background: transparent;
    color:whitesmoke;
}

.inputBox span {
    font-family: cursive;
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: white;
    text-shadow: #000405f4 0px 2px 5px;
    transition: 0.5s;
}
.inputBox input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    padding: 10px;
    pointer-events: all;
    background: transparent;
    border: none;
    color: #3e2828; /* Adjust the color to match your design */
    font-size: 1em; /* Adjust the font size as needed */
}
.inputBox input:focus~span,
.inputBox input:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    color: #f4eeee;
}

.inputBox input:focus {
    border-bottom: 2px solid #381313;
}

.inputBox input[type="submit"],
.inputBox input[type="reset"] {
    font-family: "Graduate", cursive;
    width: 45%;
    margin: 20px 0;
    padding: 10px;
    border: none;
    outline: none;
    background: #3b61716d;
    /* color: rgb(254, 254, 254);*/
    text-shadow: #000405f4 0px 2px 5px;
    cursor: pointer;
    transition: 0.3s;
}

.inputBox input[type="submit"]:hover,
.inputBox input[type="reset"]:hover {
    background: #000000;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}
/*for already registered*/
.back{
    font-family: "Graduate", cursive;
    font-size: 15px;
    text-shadow: #000505f4 0px 2px 5px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .inputBox .back:hover {
    text-shadow: black 0px 2px 5px;
    color: #000000;
  }