@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


    body {
        font-family: monospace;
        /* Use a preferred font family */
        background-color: yellow;
        /* Set a light background color */
    }

    .Main {
        height: 100vh;
        /* background: linear-gradient(rgba(255, 99, 53, 71), rgba(46, 71, 118, 0.527)); */
        background-size: cover;
        background-position: center;
      }
      
      .hero {
        position: static;
        /* margin-top: 4rem; */
        justify-content: right;
        display: flex;
        font-family: "Courier New", Courier, monospace;
      }
      .dashboard{
margin-left: 4rem;
        width: 60vh;
        border: 2px solid yellow;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        
      }
      
      .dashboard h2 {
        margin-top: 3rem;
        color: black;
        text-align: center;
        /* margin-bottom: 10px;*/
        font-family: "monospace";
        font-size: 40px;
        background-position: center;
      }

      .inputBox {
        position: sticky;
        margin: 1.5rem 0;
      }
      
      .inputBox input {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 3px solid #100f0f;
        outline: none;
        font-size: 20px;
      }
.inputBox span {
        font-family: "fantasy", cursive;
        position: relative;
        left: 0;
        padding: 20px 0;
        pointer-events: none;
        /* color:black; */
        font-size: 20px;
      } 
      .inputBox input:focus {
        border-bottom: 2px solid #381313;
      }
      
      .inputBox input[type="button"]{
        font-family: "Graduate", cursive;
        width: 45%;
        margin: 10px;
        padding: 10px;
        border: none;
        outline: none;
        background: #3b61716d;
        color: rgb(254, 254, 254);
        text-shadow: #000405f4 0px 2px 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .inputBox input[type="button"]:hover,
      .inputBox input[type="reset"]:hover {
        background: #030303;
        text-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
      }
      
      .reset {
        font-family: "Graduate", cursive;
        font-size: 20px;
        text-shadow: #000505f4 0px 2px 5px;
        color: #fff;
        text-align: center;
        margin-bottom:10px;
      }

      .inputBox .selectItem{
        font-size: 20px;
      }